.dashboard {
    padding: 40px;
}

.dashboard h2 {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #1e293b;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}